p {
    padding: 0;
    margin: 0;
  }
  #search-bar {
    margin-bottom: 20px;
  }
  
  #search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(96, 170, 147)b9b;
    color: #393E46;
    border-radius: 5px;
    
  }

  #home {
    padding: 20px 0 20px 0;
    color: #393E46;
    font-size: 18px;
    font-weight: bolder;
    font-family: Verdana;
    text-align: center;
  }

  #loading {
    display: flex;
    align-items: center;
    flex-direction: column;
  }